/* Body */
@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
/* Headers */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* Logo */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Metamorphous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav, .texty {
    font-family: 'Amika', sans-serif;
}

section, h4 {
    font-family: 'Marcellus', sans-serif;
}

#geist {
    font-family: 'Great Vibes', cursive;
}
/* delete these three changes when figure out how to use tailwind */